[submodule "roles/ansible-role-firewalld"]
	path = roles/ansible-role-firewalld
	url = https://github.com/tovletoglou/ansible-role-firewalld.git
[submodule "roles/ansible-role-composer"]
	path = roles/ansible-role-composer
	url = https://github.com/geerlingguy/ansible-role-composer.git
