[submodule "roles/ansible-role-firewalld"]
	path = roles/ansible-role-firewalld
	url = https://github.com/tovletoglou/ansible-role-firewalld.git
[submodule "roles/ansible-role-drush"]
	path = roles/ansible-role-drush
	url = https://github.com/tovletoglou/ansible-role-drush.git
[submodule "roles/ansible-role-php"]
	path = roles/ansible-role-php
	url = https://github.com/tovletoglou/ansible-role-php.git
[submodule "roles/ansible-role-composer"]
	path = roles/ansible-role-composer
	url = https://github.com/tovletoglou/ansible-role-composer.git
[submodule "roles/ansible-role-initialize"]
	path = roles/ansible-role-initialize
	url = https://github.com/tovletoglou/ansible-role-initialize.git
[submodule "roles/ansible-role-httpd"]
	path = roles/ansible-role-httpd
	url = https://github.com/tovletoglou/ansible-role-httpd.git
[submodule "roles/ansible-role-mariadb"]
	path = roles/ansible-role-mariadb
	url = https://github.com/tovletoglou/ansible-role-mariadb.git
[submodule "roles/ansible-role-user"]
	path = roles/ansible-role-user
	url = https://github.com/tovletoglou/ansible-role-user.git
[submodule "roles/ansible-role-git"]
	path = roles/ansible-role-git
	url = https://github.com/tovletoglou/ansible-role-git.git
